@model IList<MVCDemoLab.Models.Category>
<h1> List Of Category</h1>


<h2 style="color:red"> @ViewData["ApplicationName"]</h2>

<h2 style="color:red"> @((int)ViewData["N1"] + (int)ViewData["N2"])</h2>

<h2 style="color:red"> @(ViewBag.Number1+ ViewBag.Number2)</h2>

HTML
<a href="/Categories/Create" class="btn btn-primary" > Create Category </a>
<br />
<br />
HTML Helper
@Html.ActionLink("Create Category", "Create", "Categories", null, htmlAttributes: new { @class = "btn btn-success" })

<br />
<br />
Tag Helper
<a asp-action="Create" asp-controller="Categories" class="btn btn-dark"> Create Category </a>
<br />


<table class="table" >
    <tr>
        <th>@Html.DisplayNameFor(model => model[0].CategotyId)</th>
        <th>@Html.DisplayNameFor(model => model[0].Name)</th>
        <th>@Html.DisplayNameFor(model => model[0].Description)</th>
    </tr>
@foreach (var item in Model)
    {
        
        <tr>
            <td>@Html.DisplayFor(model=>item.CategotyId)</td>
            <td>@Html.DisplayFor(model=>item.Name)</td>
            <td>@Html.DisplayFor(model=>item.Description)</td>
            <td> | <a asp-action="Edit" asp-route-id =@item.CategotyId/>Edit </td>
            <td> | <a href="/Categories/Details/@item.CategotyId"> Details</td>
            <td> | <a href="/Categories/Delete/@item.CategotyId"> Delete</td>
        </tr>
    }
   
</table>